docs/site/

# OSX Junk
.DS_Store

# test cache
.cache/*
tests/__pycache__/*
*.pytest_cache/

.idea

\{\{ cookiecutter.project_name.lower().replace(' ', '_').replace('-', '_') \}\}/src/models/logging/

\{\{ cookiecutter.project_name.lower().replace(' ', '_').replace('-', '_') \}\}/src/models/mlruns/

\{\{ cookiecutter.project_name.lower().replace(' ', '_').replace('-', '_') \}\}/src/models/outputs/
