-e .

ansi2html
black
build
chardet
flake8
isort
mkdocs
mkdocs-material
mkdocs-gen-files
mkdocs-include-markdown-plugin
pexpect
pipenv
pre-commit
pytest
pytest-watcher
ruff
termynal
twine
virtualenvwrapper; sys_platform != 'win32'
virtualenvwrapper-win; sys_platform == 'win32'
uv
pytest-watcher