.md-typeset h1 {
    font-weight: 800;
    color: #222;
    margin-bottom: -0.25rem;
}

.md-typeset h2,
.md-typeset h3 {
    font-weight: 600;
    color: #222;
}

.md-sidebar--secondary {
    order: 0;
}

.md-grid {
    max-width: 1080px;
}

#termynal {
    /* 40 lines of 2ex */
    height: 80ex !important;
    min-height: 80ex !important;
    max-height: 80ex !important;
    overflow: scroll !important;
    font-size: 1.5ex !important;
}

[data-ty] {
    line-height: 2ex !important;
    white-space: pre;
}

.newline {
    line-height: 0 !important;
}

.inline-input,
.default-text {
    display: inline-block !important;
}